h1{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.linkone{
  color: Aquamarine;
  font-size: 16 px;
  text-align: center;
}

body{
  background-color: black;
}

h2{
  font-family: Verdana
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

h3{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

.image{
  margin: auto;
  width: 50%;
}

.video{
  margin:auto;
  width: 50%
}

.phoneicon{
  margin: auto;
  width: 5%
}

.finallink{
  text-align: center;
  color: Aquamarine;
}
